form {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: fit-content;
  padding: 20px 10px 10px 10px;
  font-size: 20px;
  background-color: #202020;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  /* color: 000; */
}

form label {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 20px;
}

textarea {
  width: 25rem;
  max-width: 25rem;
  min-height: 2rem;
  max-height: 50%;
  margin: 10px auto;
  padding: 0.5rem;
  font-size: 14px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: none;
  /* form-sizing: content; */
}

textarea::placeholder {
  font-size: 14px;
  /* padding: auto 0; */
  text-align: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
textarea:focus-visible {
  outline: 2px solid aqua;
}

.TodoForm-buttonContainer {
  display: flex;
  width: 90%;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.TodoForm-button {
  width: 12rem;
  height: 3.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.TodoForm-button--add {
  color: #202020;
  font-weight: 400;
  background-color: rgba(0, 255, 255, 0.4);
}

.TodoForm-button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 0 #000;
}

.TodoForm-button--add:hover {
  font-weight: 500;
  background-color: aqua;
}

.TodoForm-button--cancel {
  font-weight: 400;
  background-color: rgba(193, 7, 44, 0.4);
}

.TodoForm-button--cancel:hover {
  font-weight: 500;
  background-color: rgb(175, 0, 0);
}