.App {
  text-align: center;
}

#root{
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
