.createTodo {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  background-color: #0600c2;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
}
.createTodo:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition-duration: 250ms;
}