.createTodo {
  width: 4rem;
  height: 4rem;
  position: absolute;
  background-color: aqua;
  border: none;
  border-radius: 50%;
  color: #202020;
  font-size: 3rem;
  font-weight: bold;
  z-index: 1;
  bottom: 1rem;
  text-align: center;
  justify-content: center;
}
.createTodo:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition-duration: 300ms;
  box-shadow: 0 0 5px 2px #0ff;
}
@media screen and (max-width: 425px) {
  .createTodo {
    bottom: 0;
  }
}