.todoCounter {
  width: 100%;
  position: relative;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}
.todoCounter_title {
  width: 100%;
  margin-bottom: 0;
  font-size: 2.6rem ;
  font-weight: 500;
  color: aqua;
  text-align: center;
}